<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/stylesHome.css">
</head>



<body>

  <div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>YOUR</span>
              <span>FEEDBACK</span>
            </div>
            <div class="app-contact">CONTACT INFO : +123 456 789</div>
          </div>

          <form action="/" method="post">

            <div class="screen-body-item">
              <div class="app-form">

                <div class="app-form-group">
                  <input class="app-form-control" placeholder="NAME" value="Enter Your Name" name="userName">
                </div>

                <div class="app-form-group">
                  <input class="app-form-control" placeholder="EMAIL" name="userEmail">
                </div>

                <div class="app-form-group message">
                  <textarea name="userFeed" rows="8" cols="80" class="app-form-control" placeholder="MESSAGE"></textarea>
                </div>

                <div class="app-form-group">
                  <span class="custom-span">How Much Do You Like Our Site?</span>
                  <input class="app-form-control" name="userRating" type="range" id="userRating">
                </div>

                <div class="app-form-group buttons">
                  <button class="app-form-button" type="submit">SEND</button>
                </div>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</body>





</html>
